.content-item {

    img {
        width: 80%;
    }

    th.columns.first{
        vertical-align: middle;
        //  padding-bottom: 0;
    }

    th.columns.last{
        vertical-align: middle;
        //  padding-bottom: 0;
    }

    @media only screen and (max-width: #{$global-breakpoint}) {
        th.columns.first{
            padding-right: 0px !important;
        }
    }
}