a {
  color: #f29709;
  font-weight: inherit;
}

.m-header {

  th {
    padding-bottom: 0;
  }

  .logo {
    width: 235px;
  }

  .slogan {
    color: #949494;
    font-size: 10.5px;
    margin-top: 2px;
  }

  .contacts {
    vertical-align: middle;

    .contact {
      color: #f29709;

      &.phone {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 2px;
      }

      &.email {
        text-decoration: underline;
      }

      .icon {
        width: 15px;
        display: inline-block;
        padding-right: 10px;
      }
    }
  }
}

table.m-menu th.menu-item {
  font-size: 13px;
  font-weight: lighter;

   a {
    color: #fff;
    background-color: #0090d9;
    padding: 5px 10px;
    border-radius: 5px;

  }
}

.intro-img {
  th {
    padding-bottom: 0;
  }
}

.content {
  h1 {
    color: #19181b;
    font-weight: bold;
    font-size: 24px;
  }

  p {
    font-size: 14px;
    line-height: 1.4;

    a {
      text-decoration: underline;
    }

    .promo {
      text-decoration: underline;
      font-weight: bold;
      color: #fff;
      background-color: #f29809;
      padding: 3px;
    }
  }

  .the-end {
    color: #8d959a;
    font-size: 18px;
    font-weight: bold;
    span {
      color: #ff9801;
      font-weight: lighter;
    }
  }
}

table.button {
  img {
    width: 235px;
  }
}

.secondary {
  .footer {
    .m-logo {
      vertical-align: middle;
      img {
        width: 150px;
      }
    }
  
    h6 {
      font-weight: bold;
    }
  
    .adress {
      font-size: 12px;
    }

    .contact {
      .icon {
        width: 12px;
    display: inline-block;
    padding-right: 10px;
      }

      &.phone, &.email {
          a {
            font-size: 14px;
          }
      }
    }

    .social-h {
      color: #8b969c;
      margin-bottom: 0;
    }

    .social-icons {
      img {
        width: 35px;
      }
    }
  }
}

.copyright {
  font-size: 12px;
}

table img.sert-logo {
  width: 130px;
}
